.spinContainer{
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 50px;
    border: 1px #3e3e3e solid;
    display: block;
    padding: 5px;
}

.spinContainer input[type="number"]{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 12px;
}

.spinContainer input[type="number"]::-webkit-outer-spin-button,
.spinContainer input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.spinContainer .spinner{
    position: absolute;
    width: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 2px 4px;
    text-align: center;
}

.spinner-up{
    right: 10px;
    border-left: 30px;
}

.spinner-down{
    left: 10px;
    border-right: 30px;
}
